In [7]:

def find_non_repeat_chars(s):
    words=[]
    for i in s:# i = 'h'
        words.append(i) # words ['h']
        
    for j in words: # words = 'h' 'e' 'l' 'l' 'o'
        count=words.count(j) 
        if count==1:
            print(j)
            return j
    


# Test case 1
s = "hello"
assert find_non_repeat_chars(s) == "h"

# Test case 2
s = "hello world"
assert find_non_repeat_chars(s) == "h"

# Test case 3
s = "hello, worldh is a test"
assert find_non_repeat_chars(s) == ","

print("All testcases pass")

h
h
,
All testcases pass

In [8]:
# Dictionaries:
'''
1) key:value pair
    d1 = {"Name":"David"}
2) Enclosed with {}
3) Access: (if it is existing)
    d1["Name"]
4) Add new pair:
    d1["age"] = 10
5) methods: get, update, keys, items, etc...
6) For loop
7) copy, deep copy
8) Problems: Histogram, graphs.
'''

'\n1) key:value pair\n    d1 = {"Name":"David"}\n2) Enclosed with {}\n3) Access: (if it is existing)\n    d1["Name"]\n4) Add new pair:\n    d1["age"] = 10\n5) methods: get, update, keys, items, etc...\n6) For loop\n7) copy, deep copy\n8) Problems: Histogram, graphs.\n'

In [36]:
d1 = {"David": 
              {"Full Name": "David John", 
               "Age":       10, 
               "Subs":      ("Eng", "Maths")},
      "Ram":
                {"Full Name": "Ram Kumar", 
                 "Age":       12, 
                 "Subs":      ("Eng", "Maths", "Science")},
        "Saleem":
                {"Full Name": "Saleem Khan", 
                 "Age":       13, 
                 "Subs":      ("Eng", "Science", "Social")},
        "Ravi":
                {"Full Name": "Ravi Kumar", 
                 "Age":       14, 
                 "Subs":      ("Eng", "Maths", "Social")},
        "Raj":
                {"Full Name": "Raj Kumar", 
                 "Age":       15}
}
# print(d1)
# print(d1["David"])
# print(d1["David"]["Subs"])
# print(d1["David"]["Subs"][0])

# Write a function to return list students who have "Science" as one of their subjects.
def get_students_beased_on_sub(d1, sub):
    # return list of names
    result = [] #1. 
    for name, details in d1.items(): # 2. Traversing through all key,value pairs
        for key, value in details.items():
        if details.get("Subs") is not None: # Safe gaurd
            if sub in details["Subs"]:  # 3. Find sub in Subs
                result.append(name)    # 4. Append 
    return result
    
print(f" Students : {get_students_beased_on_sub(d1, "Eng")}, having sub: Eng")
print(f" Students : {get_students_beased_on_sub(d1, "Maths")}, having sub: Maths")

 Students : ['David', 'Ram', 'Saleem', 'Ravi'], having sub: Eng
 Students : ['David', 'Ram', 'Ravi'], having sub: Maths

In [24]:
d1 = {"David": 
              {"Full Name": "David John", 
               "Age":       10, 
               "Subs":      ("Eng", "Maths")},
      "Ram":
                {"Full Name": "Ram Kumar", 
                 "Age":       12, 
                 "Subs":      ("Eng", "Maths", "Science")},
        "Saleem":
                {"Full Name": "Saleem Khan", 
                 "Age":       13, 
                 "Subs":      ("Eng", "Science", "Social")}
}

for key,value in d1.items():
    print(key, value)

David {'Full Name': 'David John', 'Age': 10, 'Subs': ('Eng', 'Maths')}
Ram {'Full Name': 'Ram Kumar', 'Age': 12, 'Subs': ('Eng', 'Maths', 'Science')}
Saleem {'Full Name': 'Saleem Khan', 'Age': 13, 'Subs': ('Eng', 'Science', 'Social')}

In [34]:
d1 = {"David": 
              {"Full Name": "David John", 
               "Age":       10, 
               "Subs":      ("Eng", "Maths")},
      "Ram":
                {"Full Name": "Ram Kumar", 
                 "Age":       12, 
                 "Subs":      ("Eng", "Maths", "Science")},
        "Saleem":
                {"Full Name": "Saleem Khan", 
                 "Age":       13, 
                 "Subs":      ("Eng", "Science", "Social")},
        "Ravi":
                {"Full Name": "Ravi Kumar", 
                 "Age":       14, 
                 "Subs":      ("Eng", "Maths", "Social")},
        "Raj":
                {"Full Name": "Raj Kumar", 
                 "Age":       15}
}

Raj = d1["Raj"]
print(Raj.get("Full Name"))
print(Raj.get("Subs"))
# Raj["Subs"]

Raj Kumar
None

KeyError: 'Subs'

In [40]:
d1={"Ram":123}
#d1["Ram"] = 345
d1.setdefault("Ram", 345)  # If key is not there, then only this entry gets added
print(d1)

{'Ram': 123}